body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background.google {
    background-color: #bbdefb; /* Light blue for Google */
}

.background.youtube {
    background-color: #ffcdd2; /* Light red for YouTube */
}

.container {
    background-color: white; /* Container remains white */
    padding: 20px;
    width: 75%; /* Adjusted width */
    max-width: 600px; /* Adjusted maximum width to prevent excessive narrowness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#formContainer {
    position: relative;
    height: 300px; /* Fixed height for the form container */
    overflow: hidden; /* Hide overflow to maintain fixed height */
}

.scraper-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}

.scraper-form.active {
    opacity: 1;
    visibility: visible;
}

.input-field input, .input-field textarea {
    width: calc(100% - 30px); /* Full width minus padding for better alignment */
    margin: 0 15px;
    padding: 8px 10px;
    background-color: #f6f6f6; /* Slight gray background */
    border-radius: 5px; /* Rounded borders */
    border: 2px solid #ccc; /* Gray border for input fields */
    box-sizing: border-box; /* Include padding and border in the width */
}

.input-field label {
    color: #9e9e9e;
    left: 15px; /* Adjust label position to align with input text */
}

.submit-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px); /* Button width adjusted to fit inside the form */
}
